extends layout

block content
  h1= title
  a(href='/users/list') Users
  p Welcome  #{name} my favorite TV show is #{favTv} and the current game I is playing is #{currVG}, 
  p I am goin to #{school} Tech school and hope I can find a job!
  hr
  p Let life be filled with  #{pos} and live #{free} and make sure that you #{smile} :3
  hr
  p Today's date is :  #{date}
  